
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Azeret Mono", serif;
}
section{
    margin-top:20px;
    margin-bottom: 20px;
}

  
.headding{
    font-size:28px;
    font-weight: 600;
    color: #0D1321;
}
.btn{
    font-size: 20px;
    font-weight: 400;
    color: #0D1321;
    padding: 17px 24px;
    opacity: 20px; 
    cursor: pointer;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.group-tittle{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-top: 32px; 
    margin-bottom: 32px;
}
.group-tittle-description{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.btn-btn{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff; 
    padding: 21px 24px;
    background-color: black;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
} 
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-box{
    background-image: url(./assets/Hero-bg.png);
    padding: 36px;
}
.dev-tittle{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.dev-tittle-description{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.coding-tittle{
    font-weight: 800;
    font-size: 24px;
    color:#0D1321
}
.coding-tittle-description{
    font-size: 16px;
    font-weight: 400px; 
    color: #0D1321;
}
.btn-coding{
    font-weight: 600;
    font-size: 20px;
    color: #0D1321; 
    padding: 12px 20px;
}
.inspiration-tittle-description{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.inspiration-tittle{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.ifram{
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-target-tittle{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
}
.current-target-description{
    color: #0D1321;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.box1{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.box2{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.box3{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.box-card{
    display: flex;
    gap:15px;
    margin: 40px;
    justify-content: center;
    align-items: center;
}
.box-card a{
    color: black;
}
.next-terget-tittle{
    text-align: center;
    font-weight: 800;
    font-size: 32;
    color: #0D1321;
}
.next-terget-tittle-description{
    text-align: center;
    font-weight: 400;
    font-size: 16;
    color: #0D1321;
}

.js{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color:rgba(229, 232, 231, 0.473);
    margin-bottom: 30px;
}
.node{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 16px;
    background-color:rgba(229, 232, 231, 0.473);
}
.mongo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 16px;
    background-color:rgba(229, 232, 231, 0.473);
}
.next-terget{
    margin: 30px;
}


.support-tittle{
    font-weight: 800;
    font-size: 24px;
    color:#ffffff
}
.support-container{
    margin: 30px;
}
.support-tittle-description{
    font-size: 16px;
    font-weight: 400px; 
    color: #FFFFFF;
}
.text{
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.support-box{
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    width:100%;
}
.support-tittle .support-tittle-description{
    margin-top:30px ;
}

.footer{
    font-weight: 600;
    font-size: 20;
    color: #0D1321;
}
footer h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(247, 243, 243, 0.762);
    margin: 30px;
    border-radius: 16px;
}
.footer-container li{
    list-style: none;
}
.btns{
    padding: 10px 15px;
}

.half-width{
    margin: 30px;
    float: left;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    margin: 0px 10px 0px -120px;
}